body {
    //background: url('../assets/images/hero-image1.jpg') center center no-repeat;
    //background-size: cover;
    background-color: #9B1D20;
}
.bg-nav-style{
    background: url('../assets/images/hero-image1.jpg') center center no-repeat;
    background-size: cover;
}
footer {
    padding: 20px;
    margin: 20px;
    
    background-color: #E8E8E8;
}
